/* line 3, main.scss */
:root {
  --siteBackground: #5d6d7e;
  --red: tomato;
  --gray: #ccc;
  --blueScreen: #1b2631;
  --radiant: #ccff00;
  --greyWatchFrame: #e2e2e2;
  --greyWatchFrameBorder: #bcbcbc; }

/* line 13, main.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 17, main.scss */
body {
  background: var(--siteBackground);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 60px;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 14px;
  font-weight: 100; }

/* line 29, main.scss */
h1 {
  color: var(--gray);
  text-align: center;
  font-size: 40px;
  padding: 40px;
  margin: 0 auto;
  font-family: "Dancing Script", cursive;
  font-weight: 100; }

/* line 40, main.scss */
.az-watches_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%; }

/* line 49, main.scss */
.az-watch_wrapper {
  padding: 10px 15px;
  margin: 1px; }

/* line 55, main.scss */
.az-watch {
  background: var(--greyWatchFrame);
  width: 230px;
  height: 269px;
  border-radius: 43px;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid var(--greyWatchFrameBorder);
  position: relative; }

/* line 65, main.scss */
.az-watch::before {
  content: "";
  display: block;
  width: 16px;
  height: 41px;
  border-radius: 45% 7px 7px 45%;
  position: absolute;
  right: -13px;
  top: 62px;
  background: var(--greyWatchFrame);
  border: 1px solid var(--greyWatchFrameBorder); }

/* line 77, main.scss */
.az-watch::after {
  content: "";
  display: block;
  width: 5px;
  height: 67px;
  border-radius: 8px 3px 3px 8px;
  position: absolute;
  right: -5px;
  top: 140px;
  background: var(--greyWatchFrame);
  border: 1px solid var(--greyWatchFrameBorder); }

/* line 89, main.scss */
.az-watch_screen {
  background: var(--blueScreen);
  height: 100%;
  border-radius: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 28px;
  overflow: hidden; }

/* line 99, main.scss */
.az-watch_analog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  border-radius: 10%; }

/* line 107, main.scss */
.az-watch_dials {
  height: 180px;
  width: 180px;
  border-radius: 100%;
  position: absolute; }

/* line 114, main.scss */
.az-watch_dial {
  position: absolute;
  width: 100%;
  height: 0.7px;
  background: var(--gray);
  top: 50%; }

/* line 123, main.scss */
.az-watch_dial-0 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg); }

/* line 123, main.scss */
.az-watch_dial-1 {
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg); }

/* line 123, main.scss */
.az-watch_dial-2 {
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg); }

/* line 123, main.scss */
.az-watch_dial-3 {
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg); }

/* line 123, main.scss */
.az-watch_dial-4 {
  -webkit-transform: rotate(24deg);
          transform: rotate(24deg); }

/* line 123, main.scss */
.az-watch_dial-5 {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg); }

/* line 123, main.scss */
.az-watch_dial-6 {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg); }

/* line 123, main.scss */
.az-watch_dial-7 {
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg); }

/* line 123, main.scss */
.az-watch_dial-8 {
  -webkit-transform: rotate(48deg);
          transform: rotate(48deg); }

/* line 123, main.scss */
.az-watch_dial-9 {
  -webkit-transform: rotate(54deg);
          transform: rotate(54deg); }

/* line 123, main.scss */
.az-watch_dial-10 {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg); }

/* line 123, main.scss */
.az-watch_dial-11 {
  -webkit-transform: rotate(66deg);
          transform: rotate(66deg); }

/* line 123, main.scss */
.az-watch_dial-12 {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg); }

/* line 123, main.scss */
.az-watch_dial-13 {
  -webkit-transform: rotate(78deg);
          transform: rotate(78deg); }

/* line 123, main.scss */
.az-watch_dial-14 {
  -webkit-transform: rotate(84deg);
          transform: rotate(84deg); }

/* line 123, main.scss */
.az-watch_dial-15 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

/* line 123, main.scss */
.az-watch_dial-16 {
  -webkit-transform: rotate(96deg);
          transform: rotate(96deg); }

/* line 123, main.scss */
.az-watch_dial-17 {
  -webkit-transform: rotate(102deg);
          transform: rotate(102deg); }

/* line 123, main.scss */
.az-watch_dial-18 {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg); }

/* line 123, main.scss */
.az-watch_dial-19 {
  -webkit-transform: rotate(114deg);
          transform: rotate(114deg); }

/* line 123, main.scss */
.az-watch_dial-20 {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg); }

/* line 123, main.scss */
.az-watch_dial-21 {
  -webkit-transform: rotate(126deg);
          transform: rotate(126deg); }

/* line 123, main.scss */
.az-watch_dial-22 {
  -webkit-transform: rotate(132deg);
          transform: rotate(132deg); }

/* line 123, main.scss */
.az-watch_dial-23 {
  -webkit-transform: rotate(138deg);
          transform: rotate(138deg); }

/* line 123, main.scss */
.az-watch_dial-24 {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg); }

/* line 123, main.scss */
.az-watch_dial-25 {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg); }

/* line 123, main.scss */
.az-watch_dial-26 {
  -webkit-transform: rotate(156deg);
          transform: rotate(156deg); }

/* line 123, main.scss */
.az-watch_dial-27 {
  -webkit-transform: rotate(162deg);
          transform: rotate(162deg); }

/* line 123, main.scss */
.az-watch_dial-28 {
  -webkit-transform: rotate(168deg);
          transform: rotate(168deg); }

/* line 123, main.scss */
.az-watch_dial-29 {
  -webkit-transform: rotate(174deg);
          transform: rotate(174deg); }

/* line 126, main.scss */
.az-watch_dial-0, .az-watch_dial-5, .az-watch_dial-10, .az-watch_dial-15, .az-watch_dial-20, .az-watch_dial-25 {
  background: var(--red); }

/* line 128, main.scss */
.az-watch_dial-0, .az-watch_dial-15 {
  height: 2px; }

/* line 130, main.scss */
.az-watch_face {
  height: 165px;
  width: 165px;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
  background-color: var(--blueScreen); }
  /* line 137, main.scss */
  .az-watch_face::after {
    content: " ";
    z-index: 3;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    position: absolute;
    background: var(--red);
    top: 48%;
    left: 48%; }

/* line 150, main.scss */
.az-watch_hand {
  background: var(--gray);
  height: 78px;
  position: absolute;
  -webkit-transform-origin: 49% bottom;
          transform-origin: 49% bottom;
  left: 49.5%;
  top: 2.5%;
  z-index: 2;
  -webkit-box-shadow: 0.1px 0.1px 10px var(--blueScreen);
          box-shadow: 0.1px 0.1px 10px var(--blueScreen); }

/* line 161, main.scss */
.az-watch_seconds-hand {
  background-color: var(--red);
  width: 1px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

/* line 168, main.scss */
.az-watch_hours-hand {
  height: 30%;
  width: 4px;
  top: 20%;
  background: var(--radiant);
  border-top: 9px solid var(--gray);
  border-bottom: 13px solid var(--gray);
  border-right: 0.5px solid var(--gray);
  border-left: 0.5px solid var(--gray);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

/* line 181, main.scss */
.az-watch_minutes-hand {
  height: 78px;
  width: 3px;
  background: var(--radiant);
  border-top: 20px solid var(--gray);
  border-bottom: 20px solid var(--gray);
  border-right: 0.5px solid var(--gray);
  border-left: 0.5px solid var(--gray);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

/* line 193, main.scss */
.az-watch_digital_clock {
  color: #5d6d7e;
  font-weight: 100;
  position: absolute;
  right: 9%;
  top: 40.5%; }

/* line 201, main.scss */
.az-watch_number {
  color: var(--gray);
  position: absolute;
  font-size: 11px; }

/* line 207, main.scss */
.az-watch_number-twelve {
  left: 75.5px;
  top: 3px; }

/* line 212, main.scss */
.az-watch_number-three {
  right: 3px;
  top: 78px; }

/* line 217, main.scss */
.az-watch_number-six {
  left: 79px;
  bottom: 3px; }

/* line 222, main.scss */
.az-watch_number-nine {
  left: 3px;
  top: 78px; }

/* line 227, main.scss */
.az-watch_calendar {
  position: absolute;
  font-weight: 100;
  bottom: 40.5%;
  right: 18px;
  font-size: 12px;
  letter-spacing: 1.5px; }

/* line 236, main.scss */
.az-watch_calendar_day {
  color: var(--gray); }

/* line 240, main.scss */
.az-watch_calendar_date {
  color: var(--red); }

/* line 244, main.scss */
.az-watch_location {
  color: #fff;
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
  padding: 20px 0; }

/*# sourceMappingURL=main.css.map */